---
name: Build an AMI
permissions:
  id-token: write
  contents: read
on:
  workflow_dispatch:
    inputs:
      environment:
        description: Which environment to push the image to
        type: choice
        options: [sandbox-hpc, sandbox-benchmarks]
        required: true
        default: sandbox-hpc
jobs:
  build-ami:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment || 'sandbox-hpc' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_AMI_DEPLOYMENT_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Install jq
        run: |-
          sudo apt-get update
          sudo apt-get install -q -y jq
      - name: Fill in variables in ami definition
        run: |-
          IMAGE_CONFIG_FILE="ami/ami-config-neurodamus.yaml"
          VERSIONS_FILE="versions.json"
          sed -i "s/AWS_ACCOUNT_ID/${{ secrets.AWS_ACCOUNT_ID }}/" ${IMAGE_CONFIG_FILE}
          sed -i "s/AWS_SUBNET_ID/${{ secrets.AWS_SUBNET_ID }}/" ${IMAGE_CONFIG_FILE}
          sed -i "s/AWS_SG_ID/${{ secrets.AWS_SG_ID }}/" ${IMAGE_CONFIG_FILE}
          for component in $(jq -r '.components | keys | .[]' ${VERSIONS_FILE})
          do
            echo "Found component ${component}"
            COMPONENT_VAR=$(echo ${component/-/_} | tr '[:lower:]' '[:upper:]')
            COMPONENT_VERSION=$(jq -r ".components.\"${component}\"" ${VERSIONS_FILE})
            echo "Substituting ${COMPONENT_VAR} in ${IMAGE_CONFIG_FILE} with ${COMPONENT_VERSION}"
            sed -i "s/${COMPONENT_VAR}/${COMPONENT_VERSION}/" ${IMAGE_CONFIG_FILE}
          done
          echo "Updated image config file ${IMAGE_CONFIG_FILE}:"
          cat ${IMAGE_CONFIG_FILE}
      - name: Upload component definitions
        run: |-
          aws s3 cp --recursive --exclude '*' --include '*yaml' ami/components/ s3://${{ secrets.BUCKET_NAME }}/components/
      - name: Delete outdated image and component
        run: |-
          pip install aws-parallelcluster
          set -x
          VERSIONS_FILE="versions.json"
          AMI_VERSION=$(jq -r .ami ${VERSIONS_FILE})
          IMAGE_ARN=$(pcluster list-images --image-status FAILED | jq -r '.images[] | select( .imageId == "'${AMI_VERSION}'") | .imageId')
          if [[ -z ${IMAGE_ARN} ]]
          then
            IMAGE_ARN=$(pcluster list-images --image-status AVAILABLE | jq -r '.images[] | select( .imageId == "'${AMI_VERSION}'") | .imageId')
          fi
          if [[ -n ${IMAGE_ARN} ]]
          then
            STACK=$(aws cloudformation list-stacks --no-paginate | jq -r '.StackSummaries[] | select(.StackStatus != "DELETE_COMPLETE") | select(.StackName == "'${AMI_VERSION}'")')
            pcluster delete-image -i ${AMI_VERSION}
            while [[ -n "${STACK}" ]]
              do
                sleep 10
                STACK=$(aws cloudformation list-stacks --no-paginate | jq -r '.StackSummaries[] | select(.StackStatus != "DELETE_COMPLETE") | select(.StackName == "'${AMI_VERSION}'")')
                STACK_STATUS=$(echo $STACK | jq -r .StackStatus)
                if [[ -n ${STACK_STATUS} && "${STACK_STATUS}" != "DELETE_IN_PROGRESS" ]]
                then
                  echo "Stack in status ${STACK_STATUS}"
                  exit 1
                fi
            done
          fi
          for component in $(jq -r '.components | keys | .[]' ${VERSIONS_FILE})
          do
            COMPONENT_VERSION=$(jq -r ".components.\"${component}\"" ${VERSIONS_FILE})
            echo "Checking whether we need to delete component ${component} version ${COMPONENT_VERSION}"
            COMPONENT_ARN=$(aws imagebuilder list-components --no-paginate | jq -r '.componentVersionList[] | select(.name == "'${component}'") | select(.version == "'${COMPONENT_VERSION}'" ) | .arn')
            if [[ -n ${COMPONENT_ARN} ]]
            then
              aws imagebuilder delete-component --component-build-version-arn=arn:aws:imagebuilder:${{ vars.AWS_REGION }}:${{ secrets.AWS_ACCOUNT_ID }}:component/${component}/${COMPONENT_VERSION}/1
            fi
          done
      - name: Create new component and image
        run: |-
          VERSIONS_FILE="versions.json"
          for component in $(jq -r '.components | keys | .[]' ${VERSIONS_FILE})
          do
            COMPONENT_VERSION=$(jq -r ".components.\"${component}\"" ${VERSIONS_FILE})
            echo "Building component ${component} version ${COMPONENT_VERSION}"
            aws imagebuilder create-component --name "${component}" --semantic-version "${COMPONENT_VERSION}" --platform "Linux" --tags "SBO_Billing=hpc:parallelcluster" --uri "s3://${{ secrets.BUCKET_NAME }}/components/${component}.yaml"
          done
          AMI_VERSION=$(jq -r .ami ${VERSIONS_FILE})
          echo "Build AMI version ${AMI_VERSION}"
          pcluster build-image --image-configuration ami/ami-config-neurodamus.yaml --image-id ${AMI_VERSION}
